<h1>Ben's Travel Log</h1>
<h2>List of Destinations</h2>
<ul>
  <% for place in @places %>
    <li>
      <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    </li>
  <% end %>
</ul>

<p><a href="/places/new">Add a New Destination</a></p>
